.about {
  padding: 60px 80px;
  box-shadow: rgba(216, 66, 66, 0.15) 1.95px 0.95px 2.6px;
  height: 100vh;
}
@media (max-width: 767px) {
  .about {
    height: 140vh;
  }
}
.about .pic-text {
  padding-top: 60px;
  padding-bottom: 60px;
}
.about-img img {
  border-radius: 10px;
  width: 100%;
  object-fit: contain;
  height: 300px;
}
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-content h1 {
  color: gray;
  font-family: cursive;
  border-bottom: 2px solid gray;
  text-align: center;
}

.about-content p {
  padding: 20px;
  text-align: justify;
}
.theme-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  right: 0;
  position: fixed;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
  background-color: aqua;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 12;
}

@media (max-width: 600px) {
  .about {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    width: 100%;
  }
  .about .row {
    --bs-gutter-x: 0;
  }
  .about-content h1 {
    margin-top: 10px;
  }
}
