.home-container {
  color: white;
  padding-top: 80px;
  padding-left: 80px;
}

.home-content h1 {
  color: #e0b50f;
}
.home-content h2 {
  color: #e0b50f;
}
.home-buttons .btn-hire {
  color: white;
  background-color: #3b8ff3;
  width: 160px;
}
.home-buttons .btn-hire:hover {
  color: #3b8ff3;
  background-color: white;
  width: 200px;
  transition: 1s;
}
.home-buttons .btn-cv {
  color: white;
  background-color: #f29f67;
  margin-left: 15px;
}
.home-buttons .btn-cv:hover {
  opacity: 80%;
  transition: 1s;
}

/* @media (max-width: 600px) {
  .home {
    margin: 0;
    padding: 0;
    margin-top: 30px;
  }
  .home h2 {
    padding-top: 20px;
  }
  .home hr {
    width: 280px;
    margin-bottom: 10px;
  }
} */
@media (max-width: 600px) {
  .home-container {
    padding: 0;
    margin: 0;
    margin-top: 50px;
  }
  .home-container h2 {
    font-size: 24px;
  }
  .home-container h1 {
    font-size: 24px;
  }
}
