* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#dark {
  background-color: #163a51;
  color: #f4eee0;
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&family=Rubik:wght@400;500;600;700&display=swap");

body {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "Lato", sans-serif;
}
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  outline: none;
  border: none;
}
input {
  outline: none;
  border: none;
}
.f-heading h1 {
  color: #ffffff;
  font-size: 3rem;
  margin: 0px;
  padding: 0px;
}
.f-heading p {
  color: rgba(247, 247, 247, 0.678);
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
}
.f-heading {
  text-align: center;
  margin-top: 60px;
  margin-bottom: -80px;
}

.about-text {
  width: 100%;
  color: #fff;
  list-style: circle;
}
.about-text h2 {
  font-size: 2rem;
  color: #ff0077;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}
.about-text p {
  width: 80%;
  font-size: 1.2rem;
  color: #272727;
}
.about-text button {
  margin-top: 20px;
  width: 140px;
  height: 45px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: #ff0077;
}
.about-text button:hover {
  background-color: rgb(0, 132, 255);
  transition: all ease 0.3s;
  color: #ffffff;
}
#services {
  padding-top: 40px;
}

.s-heading h1 {
  color: #ffffff;
  font-size: 3rem;
  margin: 0px;
  padding: 0px;
}
.s-heading p {
  color: rgba(247, 247, 247, 0.678);
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
}
.s-heading {
  text-align: center;
  margin: 20px 0px;
}
.s-box {
  background-color: #ffffff;
  width: 350px;
  height: 470px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  position: relative;
}
.b-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
.s-type {
  /* font-family: calibri; */
  color: #000266;
  background-color: #ffffff;
  padding: 10px 15px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
.header h1 {
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  font-size: 30px;
  padding: 15px 0px;
  color: #5c5c5c;
}
@media (max-width: 970px) {
  .header h1 {
    font-size: 22px;
  }
}
#contact {
  background-color: #ff0077;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}
#contact h3 {
  font-size: 2.5rem;
  margin: 20px;
  color: #ff0077;
}
#contact p {
  margin: 20px;
}
.contact-input {
  width: 400px;
  height: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.15);
}
.contact-input input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
  color: #242425;
}
.contact-input a {
  width: 200px;
  height: 35px;
  background-color: #ff0077;
  color: #ffffff;
  display: flex;
  font-size: 0.9rem;
  justify-content: center;
  align-items: center;
  margin: auto 10px;
  border-radius: 20px;
  font-weight: 500;
  transition: 0.4s ease-out;
}
.contact-input a:hover {
  background-color: #0099ff;
}
@media (max-width: 1190px) {
  /* #main{
		background-size: 1325px !important;
	} */
  .name {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .about-image img {
    height: 400px;
  }
  #features {
    height: auto;
  }
  .a-container {
    flex-wrap: wrap;
  }
  .a-box {
    flex-grow: 1;
  }
  #services {
    height: auto;
  }
  .b-container {
    flex-wrap: wrap;
  }
  .s-box {
    flex-grow: 1;
  }
  .s-b-img img {
    object-fit: cover;
  }
  .a-b-img img {
    object-fit: contain;
  }
}

@media (max-width: 970px) {
  .main {
    #main {
      width: 100%;
      height: 595px;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .name {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  /* .about-image {
    display: none;
  } */
  .cv-btn {
    margin-left: 27%;
    margin-top: 20px;
  }
  #about {
    justify-content: center;
    padding-top: 0px;
    text-align: center;

    margin-top: 0px;
  }
  .about-text {
    width: 90%;
  }
  .about-text h1 {
    font-size: 4rem;
  }
  .about-text p {
    width: 100%;
  }
  #features {
    margin-bottom: 100px;
  }
  #presentaion {
    display: none;
  }
}
@media (max-width: 600px) {
  .name {
    width: 60%;
  }
}
.scroll {
  left: 42.5%;
}
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Rubik:wght@400;500;600;700&display=swap");
/*=============== Variable CSS =============== */
:root {
  /*=========== Colors =========*/
  /*=========== Color made HSL (Hue, Saturation. Lightness  =========*/
  --first-color: hsl(353, 100%, 65%);
  --title-color: hsl(244, 24%, 26%);
  --text-color: hsl(244, 16%, 43%);
  --body-color: hsl(202, 16%, 76%);
  --container-color: #fff;
  /*=========== Font and Typography =========*/
  /*.5rem = 8px | 1rem =16px ...*/
  --body-font: "Rubik", sans-sarif;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  /*=========== Font Weight =========*/
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  /*=========== Box Shadow =========*/
  --shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
  /*=========== Border Radius =========*/
  --border-radius: 20px;
}
/*=========== Responsive Typography =========*/
@media screen and (max-width: 1024px) {
  :root {
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}
/*=========== Base =========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
body {
  /* background-color: var(--body-color); */
  line-height: 1.7;
  color: var(--text-color);
}
h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
  line-height: 1.2;
}
ul {
  list-style: none;
}
ol,
ul {
  padding-left: inherit;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
/*=========== Reuseable CSS Classes =========*/
.container {
  max-width: 1400px;
  /* padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; */
}
.grid {
  display: grid;
}
.section {
  padding-top: 7rem;
  padding-bottom: 2rem;
}
.section___title {
  font-size: var(--h1-font-size);
  margin-left: 0.875rem;
  font-weight: var(--font-bold);
  position: relative;
  margin-bottom: 3.75rem;
}
.section___title::before {
  content: "";
  /* background-color: url(./assets/dots-bg.svg); */
  height: 2.25rem;
  width: 2.25rem;
  position: absolute;
  left: -0.875rem;
  top: -0.875rem;
}
.btn {
  padding: 0.75rem 2rem;
  line-height: 1;
  border-radius: 1.875rem;
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  border: 1px solid transparent;
  color: #fff;
  display: inline-block;
  background-color: var(--first-color);
}
@keyframes button-push {
  50% {
    transform: scale(0.8);
  }
  100% {
    transition: scale(1);
  }
}
.btn:hover {
  animation: button-push 0.3s linear 1;
}
